/* https://content.codecademy.com/courses/freelance-1/unit-4/img-tea-cozy-redline.jpg */

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  /* margin: 0; */
}

.header {
  width: 100%;
  height: 69px;
  display: block;
  background-color: black;
  position: fixed;
  top: 0%;
  border-bottom: 1px solid seashell;
}

.logo {
  height: 50px;
  float: left;
  /* padding-left: 10px; */
  padding: 10px 0 0 10px;
}

.navigation {
  float: right;
  height: 100%;
  margin: 0 auto;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding-right: 20px;
  padding-top: 20px;
}
.navigation a li {
  display: table;
  vertical-align: middle;
  height: 100%;
  text-decoration: underline;
  color: #fff;
}

.mission-container {
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1200px;
  height: 700px;
  margin: 40px auto 40px auto;
  display: flex;
}
.text-over {
  margin: auto;
  background-color: black;
  width: 100%;
}

.trend-container {
  display: inline-flex;
  max-width: 1000px;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.trend img {
  height: 200px;
  width: 300px;
  padding: 10px 10px;
}

.banner {
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 85px;
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
  background-size: cover;
  max-width: 1200px;
  margin: 40px auto 40px auto;
}

.text-top {
  font-size: 45px;
  font-weight: bold;
}

.box-contaienr {
  max-width: 1050px;
  margin: 15px auto auto auto auto;
  display:inline-flex;
  justify-content: space-between;
}
.box {
  height: 300px;
  padding: 20px;
  margin-bottom: auto;
  flex-basis: 30%;
  box-sizing: border-box;
  background-color: black;
  opacity: 0.8;

  /* display: inline-flex; */
}

footer{
  display: block;
  float:left;
  padding-left: 20px;
}